<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>lili商城</title>
<link rel="stylesheet" type="text/css" href="http://localhost/shapping/index/css/index.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
</style>
</head>
<body>
	<div id='header'></div>
	<div id='left'></div>
	<div id="body">
		<div class='row'>
			<div class="col-md-10">
				<ol class="breadcrumb">
					<li><a href="#">lili商城</a></li>
				 	<li v-for = "(item,key) in navBar">
				 		<a v-bind:href="item">{{key}}</a>
				 	</li>  
				</ol>
			</div>
			<div class="col-md-6" align="content">
				<div class="input-group">
				    <input type="text" class="form-control" id='keyword' placeholder="Search for...">
				      <span class="input-group-btn">
				      	<button class="btn btn-default" type="button" v-on:click="searhKeyword()">搜索</button>
				    </span>
			    </div><!-- /input-group -->
			</div>
				<hr>
				<br>
				<br>
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-8">
							<div id="myCarousel" class="carousel slide">
								<ol class="carousel-indicators">
									<li data-target="#myCarousel" data-slide-to="0"></li>
									<li data-target="#myCarousel" data-slide-to="1"></li>
								</ol>
								<div class="carousel-inner" id="bigContent" >
										<!-- <div class="item active" >
											<a v-bind:href="bigContentJson[0].url">
												<img  v-bind:src="bigContentJson[0].pic" alt="" >
												<div class="carousel-caption"><h1>{{bigContentJson[0].title}}</h1></div>
											</a>
										</div>
										<div class="item ">
											<a v-bind:href="bigContentJson[0].url">
												<img  v-bind:src="bigContentJson[1].pic" alt="" >
												<div class="carousel-caption">{{bigContentJson[1].title}}</div>
											</a>
										</div> -->
									<div class="item active" >
										<a v-bind:href="bigContentJson[0].url">
											<img  v-bind:src="bigContentJson[0].pic" alt="" >
											<div class="carousel-caption"><h1>{{bigContentJson[0].title}}</h1></div>
										</a>
									</div>
									<div class="item" v-for="(item,index) in bigContentJson" v-if="index!=0" >
										<a v-bind:href="item.url">
											<img  v-bind:src="item.pic" alt="" >
											<div class="carousel-caption"><h1>{{item.title}}</h1></div>
										</a>
									</div>
									<a class="carousel-control left" href="#myCarousel" 
								        data-slide="prev">&lsaquo;
								    </a>
								    <a class="carousel-control right" href="#myCarousel" 
								        data-slide="next">&rsaquo;
								    </a>
								</div>
							</div>
							<div  id="miniContent">
								<div id="up" class="move" v-on:click="upMiniContent()">
									<img src="images/up.png">
								</div>
								<div id="mini">
									<a v-bind:href="i.url" v-for="i in miniContentJson" >
										<img v-bind:src="i.pic" class="cc">
										<br>
									</a>
								</div>
								<div id="down" class="move" v-on:click="downMiniContent()">
									<img src="images/down.png">
								</div>
								<!-- <a v-bind:href="miniContentJson[1].url" >
									<img v-bind:src="miniContentJson[1].pic" class="cc">
								</a>
								<br>
								<a v-bind:href="miniContentJson[2].url" >
									<img v-bind:src="miniContentJson[2].pic" class="cc">
								</a>
								<br> -->
							
							</div>
						
					</div>
					<div class='col-md-4' id="userPosition">
						
					</div>
			</div>
		</div><!--row-->

		<div class="row">
			<div class="col-md-9">
				<div class="panel panel-default">
					<div class="panel-heading">
					  	<h3 class="panel-title">正在进行的秒杀活动</h3>
					  	<a href="http://localhost/shapping/seckill/seckill.html">查看更多</a>
					</div>
					<div class="panel-body">
					    <p>开始时间:{{seckill.startTime}}</p>
					    <p>结束时间:{{seckill.endTime}}</p>
					    <div v-for="item3 in tbSeckiilItems">
					    	<div class="col-sm-6 col-md-4">
						    	 <div class="thumbnail">
							    		<img :src="item3.tbItem.image" width="50%">
							      		<div class="caption">
							        	<h3>{{item3.tbItem.title}}</h3>
							        	<p>{{item3.tbItem.sellPoint}}</p>
							        	<div v-if="flag">
							        		<p><a href="#" class="btn btn-primary " role="button">购买</a> </p>
							        	</div>
							        	<div v-else>
							        		<p><a href="#" class="btn btn-primary disabled " role="button">活动还没开始</a> </p>
							        	</div>
							     	</div>
							    </div>
							</div>
					    </div>
					</div>
				</div>
			</div>
		</div><!--row-->
	 	
		
	</div>
</div>


<!-- slide -->
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide2.js"></script>
<script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=8FBYBsGUIWYhleaueG1ItNiyZ1iXMra6"></script>
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript" src=''></script>

</body>
</html>