<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>lili商城</title>
<link rel="stylesheet" type="text/css" href="http://localhost:8082/shapping/shappingCar/css/shappingCar.css">

</style>
</head>
<body>
	<div id='header'></div>
	<div id="body">
		<div class='row'>
			<div class="col-md-12">
				<ol class="breadcrumb">
					<li><a href="#">lili商城</a></li>
				 	<li v-for = "(item,key) in navBar">
				 		<a v-bind:href="item">{{key}}</a>
				 	</li>  
				</ol>
				<center>
					<div v-if="noLoginImg != '' ">
						<img v-bind:src="noLoginImg">
					</div>
					<div v-else >
						<ul  class="col-md-12">
							
							<div class="panel panel-default">
							  	<div class="panel-heading">购物车</div>
							  	<div class="panel-body ">
								  	<table class="table table-striped  table-hover">
										<thead>
											<tr>
												<th>选择</th>
												<th>商品</th>
												<th>单价</th>
												<th>数量</th>
												<th>价格</th>
												<th>更新时间</th>
											</tr>
										</thead>
									<tbody>
							
									<tr v-for='item in shappingCarJson'>
											<td>
												<input type="checkbox" v-on:change="addItem(item.num,item.tbItem.price,item.id,$event)" name="checkItem" v-bind:value="item.id">
											</td>
											<td>
												<p>{{item.tbItem.title}}</p>
												<p>{{item.tbItem.sellPoint}}</p>
												<br>
												<img v-bind:src="item.tbItem.image" width="100px">
											</td>
											<td>
												{{item.tbItem.price}}
											</td>
											<td class="shappingCarNum">
												<input type="button" v-bind:name="item.id" value="+" class="add">
												<input type="text" v-bind:value="item.num" >
												<input type="button" v-bind:name="item.id" value="-" class="redocu">
											</td>
											<td>
												{{item.tbItem.price}}*{{item.num}}
											</td>
											<td>
												{{item.created}}
											</td>
										
										</tr>
										
									</tbody>
								</table>
								<br>
								<ul class="list-group">
									<li class="list-group-item">
										<h3>结算：当前了选择了{{payItemNum}}份商品,总计
											<span style="color: red">{{payPrice}}</span>元
											<div v-if="payItemNum!=0">
												<button type="button" class="btn btn-default" v-on:click="subOrder()">去结算</button>
											</div>
										</h3>

									</li>
								</ul>
							  </div>
							</div>
						</ul>
					</div>

				</center>
			</div>
		</div>
		<div id="orderInput" class="col-md-6">
			<h3>结算</h3>
			<div class="input-group input-group-lg">
			  	<span class="input-group-addon" >收货地址</span>
			  	<input type="text" class="form-control" id="adderss" placeholder="address" aria-describedby="sizing-addon1">
			</div>
			<div class="input-group input-group-lg">
			  	<span class="input-group-addon" >收件姓名</span>
			  	<input type="text" class="form-control" id="name" placeholder="name" aria-describedby="sizing-addon1">
			</div>
			<!-- <div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					使用优惠券（只能使用一张） <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<div v-for="(item,index) in couponJson">
				  		<li><a v-on:click = "useCoupon(index)" >满{{item.tbCoupon.condition}}减{{item.tbCoupon.discount}}卷 X {{item.num}}</a></li>
					</div>
				</ul>
			</div> -->
			<div v-for="(item,index) in couponJson">
				<li><a v-on:click = "useCoupon(index)" >满{{item.tbCoupon.condition}}减{{item.tbCoupon.discount}}卷 X {{item.num}}</a></li>
			</div>
			<p>需要交付金额:{{payPrice}}</p>
			<input type="button" class="btn btn-default" v-on:click="subOrderDo()" value="提交"></input>

		</div>
	</div>

	
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script type="text/javascript" src="js/shappingCar.js"></script>
<script type="text/javascript" src=''></script>

</body>
</html>