#body{
	position: relative;
	float: left;
	margin-left: 5%;
	width: 65%
}
#itemImages{
	position: static;
	float: left;
}

#itemDetalis{
	position: static;
	left: 30%
}

#itemParam{
	position: relative;
	
}

#left{
	position:relative;
	width: 15%;
	float: left;
}