#body{
	position: relative;
	float: left;
	left:3%;
	width: 65%
}
#itemImages{
	position: static;
	float: left;
}

#itemDetalis{
	position: static;
	left: 30%
}

#itemParam{
	position: relative;
	
}

#left{
	position:relative;
	width: 20%;
	float: left;
}